h1 {
    text-align: center;
}

.todo-container[data-priority="low"] {
    border-left: 5px solid green;
}

.todo-container[data-priority="medium"] {
    border-left: 5px solid orange;
}

.todo-container[data-priority="high"] {
    border-left: 5px solid red;
}   

.todo-title {
    all: unset;
    font-weight: bold;
    font-size: 1.5rem;
}