*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns:  1fr 2fr;
}

#side-bar {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

#side-bar button, .new-todo-button {
    font-size: 1.2rem
}

#content {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
}

#title-and-button {
    display: flex;
    gap: 1rem
}

#projects-container {
    display: flex;
    flex-direction: column;
}

.project-component {
    display: grid;
    grid-template-columns: 1fr auto;
}

.project-component[data-selected="true"] .view-project-button {
    background-color: lightblue;
}

.view-project-button {
    font-size: 1.2rem;
    grid-column: 1/2;
}

.project-component > div {
    display: flex;
    grid-column: 2/3;
    margin-left: auto;
}

.project-component > div > button {
    flex: 1;
    font-size: 1.2rem;
    padding: .5rem;
}

h1 {
    text-align: center;
}

.todo-container[data-priority="low"] {
    border-left: 5px solid green;
}

.todo-container[data-priority="medium"] {
    border-left: 5px solid orange;
}

.todo-container[data-priority="high"] {
    border-left: 5px solid red;
}   

.todo-container[data-priority="none"] {
    border-left: 5px solid grey;
}  


.todo-container[data-completed="true"] {
    opacity: .6;
}

.todo-container[data-completed="true"] .todo-title {
    text-decoration-line: line-through;
    text-decoration-thickness: .3rem;
}

.todo-container {
    display:grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 1fr auto;
    border: 2px solid black;
    padding: .5rem;
    gap: 0 .5rem;
}

.todo-toggle-container {
    display: grid;
    grid-column: 1;
}

.todo-top {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.todo-title-and-date-container {
    display: flex;
    flex-direction: column;
}

.todo-title {
    all: unset;
    grid-column: 2;
    font-weight: bold;
    font-size: 1.5rem;
}

.buttons-container {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.buttons-container > button {
    padding: .2rem .5rem;
    font-size: .9rem;
}

.todo-description {
    grid-column: 2;
    grid-row: 2;
    max-inline-size: 66ch;
}